code {
  color: #666;
  font: 14px/24px Courier;
}

section {
  background: #eaeaed;
  height: 145px;
}

section,
div,
.offset code {
  border-radius: 6px;
  padding: 24px 35px;
}

div {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px dashed #9799a7;
  padding: 92px 92px;
}
